<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="ISO-8859-1">
<title>Admin Login</title>
</head>
<body>
	<div class="container">
		<form class="form-signin" th:action="@{/admin/login}" method="post"
			style="max-width: 400px; margin: 0 auto;">
			<h1 class="form-signin-heading text-muted" align="center">Admin
				Login</h1>

			<div th:if="${param.error}">
				<h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
			</div>
			<input type="text" class="form-control" placeholder="Email address"
				name="email"
				required autofocus>
			<input type="password"
				class="form-control" 
				name="password"
				placeholder="Password" required>
			<button class="btn btn-lg btn-primary btn-block" type="submit"  value="Login">
				Sign In</button>

		</form>
		</div>
</body>
</html>