<!DOCTYPE html>
<html>
<head>
<link
	href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta charset="ISO-8859-1">
<title>Spring Multiple Login Pages Demo</title>
</head>
<body>
    <div align="center">
        <h2>Welcome!</h2>
        <h4><a class="btn btn-primary" href="admin/admin_login.html">Admin Login</a></h4>
        <p/>
        <h4><a class="btn btn-primary" href="user/user_login.html">User Login</a></h4>
    </div>
</body>
</html>
